boto3==1.28.57
llama-index==0.9.21
pydantic==2.1.1
youtube-transcript-api==0.6.1
playwright==1.40.0
requests==2.31.0
pg8000==1.30.3
python-ulid==1.1.0
pyhumps==3.8.0
unstructured==0.11.6
unstructured[pdf]==0.11.6
unstructured[docx]==0.11.6
unstructured[xlsx]==0.11.6
unstructured[pptx]==0.11.6