boto3==1.28.57
llama-index==0.10.19
pydantic==2.4.0
youtube-transcript-api>=0.6.1
playwright==1.40.0
requests==2.32.0
pg8000==1.30.3
python-ulid==1.1.0
pyhumps==3.8.0
anthropic==0.18.1
anthropic[bedrock]==0.18.1
unstructured>=0.12.6
unstructured[pdf]>=0.12.6
unstructured[docx]>=0.12.6
unstructured[xlsx]>=0.12.6
unstructured[pptx]>=0.12.6
unstructured[md]>=0.12.6
retry==0.9.2
types-retry==0.9.9.4